/* using ChatGPT for css references */
body {
    margin: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

header {
    text-align: center;
    background-color: darkslateblue;
    color: white;
    padding: 20px;
    width: 100%;
}

#container {
    margin: 0 auto;
}

#content {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 48px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    color: slategrey;
}

.about-session{
    padding-left: 10px;
    padding-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 6px;
    border: 1px solid darkgrey;
    font-size: 14px;
}

thead {
    background-color: slategrey;
}

tbody {
    background-color: aliceblue;
}

form {
    margin: 5px auto;
}

form.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    margin: 0 auto;
}

form.input input[type="text"],
form.input input[type="number"],
form.input select {
    padding: 2px;
    margin-bottom: 0px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

form.input input[type="submit"] {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    cursor: pointer;
}

form.input input[type="submit"]:hover {
    background-color: royalblue;
}

.flexbox {
 display: flex;
}

.blackSelect {
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
}

.whiteSelect {
    /*background-color: white;*/
    color: black;
    cursor: pointer;
    text-align: center;
}

.error_message {
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 0px;
    margin: 2px 0;
    background-color: #ffd2db;
}

td.word_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

td.indent {
    padding-left: 20px;
}