/* using ChatGPT for css references */
body {
    margin: 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

header {
    text-align: center;
    background-color: darkslateblue;
    color: white;
    width: 100%;
}

#container {
    margin: 0 auto;
}

#content {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 48px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    color: slategrey;
}

.about-session{
    padding-left: 10px;
    padding-right: 10px;
}

/*table*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 6px;
}

.directory thead {
    background-color: slategrey;
}

.directory tbody {
    background-color: aliceblue;
}

.directory th, .directory td {
    border: 1px solid darkgrey;
}

/*codex*/
.codex-container {
    margin: 10px;
    padding: 5px;
    max-width: 50vw;
}

.codex-container h2 {
    margin: 0;
}

.word-container {
    margin: 10px;
}

.word-row {
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 5px;
}

.definitions-container {
    margin-left: 30px;
    border-left: 2px solid black;
}

.definitions-container >*:not(:last-child) {
    margin-bottom: 10px;
}

.definition-row {
    padding: 3px;
}

.indent {
    padding-left: 20px;
}


/*form*/
.form-container {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.flexbox {
 display: flex;
}

.blackSelect {
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
}

.whiteSelect {
    /*background-color: white;*/
    color: black;
    cursor: pointer;
    text-align: center;
}

.error_message {
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 0px;
    margin: 2px 0;
    background-color: #ffd2db;
}